.btn1{
    height:60px;
    width: 160px;
    font-size: 15px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    /* background-color: #2196f3; */
    /* color: white; */
}
.btn{
  height:60px;
  width: 160px;
  font-size: 15px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  background-color: #2196f3; 
  color: white;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    left: 38px;
    width: 64px;
    height: 64px;
  }
  
  .lds-ellipsis span {
    position: absolute;
    top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(128, 17, 17);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis span:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis span:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis span:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis span:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  