.show_log_reg{
    position: absolute;
    height: 200px;
    width: 350px;
    border: 1px solid;
    background-color: darkslateblue;
    opacity: 0.8;
    top: 35%;
    left: 42%;   
    z-index: 12;
    box-shadow: 5px 10px 8px  #888888;
    border-radius: 25px;

}
.main_log_reg{
    z-index: 11;
    height: 580px;
}
.span{
    opacity: 1;
    color: antiquewhite;
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 22px;
    background-color: rgb(255, 0, 106);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.left{
    width: 25%;
    padding: 15px;
    font-size: 18px;
    margin-left: 20%;
    border-radius: 10px;

}
.right{
    width: 24.7%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;

}

.modal{
    width: 100%;
}
.regist_m{
    width: 50%;
    float: left;
}
.login_m{
    width: 48%;
    float: left;

}

